<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Authorization">
    <listeners>
<!--        <listener class-name="Analyzer.MyTransformer"/>-->
    </listeners>

    <test name="login">
        <parameter name="url" value="http://rls.cartlow.lan/"/>
        <parameter name="email" value="rls.super.admin@rls.com"/>
        <parameter name="password" value="123456789"/>
        <classes>
            <class name="base_test.BaseTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->